<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3>
          Welcome!
        </h3>
      </div>
      <div class="card-body">
        Use the navbar to see other Pages.
      </div>
    </div>
  </div>
</div>